
App/.gradle/vcs-1/gc.properties
App/.gradle/checksums/sha1-checksums.bin
App/.gradle/checksums/md5-checksums.bin
App/.gradle/checksums/checksums.lock
App/.gradle/buildOutputCleanup/outputFiles.bin
App/.gradle/buildOutputCleanup/cache.properties
App/.gradle/buildOutputCleanup/buildOutputCleanup.lock
App/.gradle/7.0.2/gc.properties
App/.gradle/7.0.2/fileHashes/fileHashes.lock
App/.gradle/7.0.2/fileHashes/fileHashes.bin
App/.gradle/7.0.2/fileChanges/last-build.bin
App/.gradle/7.0.2/dependencies-accessors/gc.properties
App/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
App/.gradle/7.0.2/executionHistory/executionHistory.bin
App/.gradle/7.0.2/executionHistory/executionHistory.lock
App/.gradle/7.0.2/fileHashes/resourceHashesCache.bin
App/.gradle/7.0.2/javaCompile/classAnalysis.bin
App/.gradle/7.0.2/javaCompile/jarAnalysis.bin
App/.gradle/7.0.2/javaCompile/javaCompile.lock
App/.gradle/7.0.2/javaCompile/taskHistory.bin
App/.gradle/7.0.2/executionHistory/executionHistory.bin
